/* @font-face {
  font-family: 'DGM';
  src: local('DGM'), url(./fonts/DGM.ttf) format('truetype');
}
* {
  font-family: 'DGM';
} */

@font-face {
  font-family: 'cheesefont';
  src: local('cheesefont'), url(./fonts/cheesefont.ttf) format('truetype');
}
* {
  font-family: 'cheesefont';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr min-content;
  height: 100%;
}

main {
  height: 80vh;
  font-size: 2.5rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem 0rem 10rem;
  
}

/* start of keyboard */
:root {
  --blue: #69b1f3;
  --yellow: #FFFFF4;
  --peach: #f7546b;
  --off-white: #f5ebd4;
}

body {
  background-color: #FFFFFF;
  margin-top: 50px;
  font-family: Arial;
}

span {
  display: block;
  margin-top: -5px;
}

.keyboard {
  width: 780px;
  height: 262px;
  margin: 0px auto;
  border: 10px solid var(--off-white);
  border-radius: 10px;
  background: black;
  display: flex;
  flex-direction: column;
}

.row {
  margin-top: 2px;
  overflow: hidden;
}

.key {
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  background-color: white;
  color: #000000;
  line-height: 48px;
  text-align: center;
  margin-left: 2px;
  border-radius: 4px;
}

.key__symbols {
  line-height: 28px;
  display: flex;
  flex-direction: column;
}

.key__delete {
  width: 100px;
  background: var(--blue);
}

.key__oneandhalf {
  width: 75px;
}

.key__esc {
  background: var(--peach);
}

.key__enter {
  width: 112px;
}

.key__caps {
  width: 90px;
}

.key__shift-left {
  width: 100px;
  background: var(--blue);
}

.key__spacebar {
  width: 300px;
}

.heart {
  background: var(--peach);
}

.key__bottom-funct {
  width: 70px;
  background: var(--blue);
}

.key__bottom-funct2 {
  width: 70px;
  background: var(--blue);
}

.key__arrow {
  background: var(--peach);
}

.feather {
  margin-top: 10px;
}
/* end of keyboard */